:root {
    --preto: rgb(17, 17, 17);
    --branco: rgb(238, 238, 238);
    --cinza: rgb(51, 51, 51);
    --azul: rgba(10, 10, 150, 0.8);
    --amarelo: rgba(250, 210, 50, 0.8);
    --vermelho: rgb(170, 10, 10);
}